body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;
  --font-ubuntu: Ubuntu;
  --font-roboto: Roboto;
  --font-raleway: Raleway;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-3xl: 22px;
  --font-size-xs: 12px;
  --font-size-29xl: 48px;
  --font-size-7xl: 26px;
  --font-size-17xl: 36px;

  /* Colors */
  --white-100: #fff;
  --color-black: #000;
  --color-gray-100: #121212;
  --color-gray-200: rgba(0, 0, 0, 0.87);
  --color-slategray: #787885;
  --color-dimgray-100: #5e6366;
  --gray-60: #5a5b6a;
  --color-blue: #0000ff;
  --color-forestgreen-100: #4a9e29;
  --color-forestgreen-200: rgba(74, 158, 41, 0.06);
  --color-limegreen: #53b72c;
  --green-70: #37833b;
  --color-honeydew-100: #eeffe8;
  --green-5: #ecf7ed;
  --color-honeydew-200: rgba(238, 255, 232, 0.45);
  --color-lightgray: #cbcbcb;
  --color-darkgray: #afafaf;

  /* Gaps */
  --gap-xl: 20px;

  /* border radiuses */
  --br-5xs: 8px;
  --br-10xs-7: 2.7px;
  --br-10xs-5: 2.5px;
  --br-11xs-1: 1.1px;
  --br-9xs: 4px;
  --br-11xs-3: 1.3px;
  --br-11xs: 2px;
  --br-8xs: 5px;
  --br-11xl: 30px;

  /* Effects */
  --shadow-dark-2dp: 0px 1px 2px rgba(58, 58, 68, 0.24),
    0px 2px 4px rgba(90, 91, 106, 0.24);
  --shadow-indigo-4dp: 0px 2px 4px rgba(59, 69, 123, 0.2),
    0px 4px 8px rgba(92, 107, 192, 0.2);
}
