.juice-child {
  position: absolute;
  top: -19px;
  left: -22px;
  background-color: var(--color-honeydew-200);
  width: 1442px;
  height: 1556px;
}
.description17 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 163.5px);
  letter-spacing: 0.44px;
  line-height: 24px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 328px;
}
.outlined-bg10 {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1181px);
  top: 694px;
  right: 198px;
  bottom: 1429px;
  left: 983px;
}
.juice-item {
  position: absolute;
  top: 1653px;
  left: -2px;
  background-color: var(--color-honeydew-100);
  width: 1441px;
  height: 435px;
}
.group-inner,
.juice-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-limegreen);
  width: 1440px;
  height: 97px;
}
.group-inner {
  border-radius: var(--br-11xl);
  background-color: var(--white-100);
  width: 840px;
  height: 50px;
}
.search-everything-juice2 {
  position: absolute;
  top: 18px;
  left: 32px;
  line-height: 18.91px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 167px;
  height: 13px;
}
.iconoutlinesearch2 {
  position: absolute;
  height: 40%;
  width: 2.38%;
  top: 30%;
  right: 3.81%;
  bottom: 30%;
  left: 93.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-container {
  position: absolute;
  top: 23px;
  left: 338px;
  width: 840px;
  height: 50px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-lightgray);
  font-family: var(--font-ubuntu);
}
.chip-bg20,
.left-elevation20 {
  position: absolute;
  left: 0;
  border-radius: var(--br-9xs);
}
.chip-bg20 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--green-5);
}
.left-elevation20 {
  top: calc(50% - 12px);
  background-color: var(--white-100);
  box-shadow: var(--shadow-dark-2dp);
  width: 24px;
  height: 24px;
  display: none;
}
.caption41,
.counter20 {
  position: absolute;
  letter-spacing: 0.4px;
  line-height: 16px;
}
.counter20 {
  top: calc(50% - 8px);
  left: 4px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.caption41 {
  top: 4px;
  left: 10px;
  color: var(--green-70);
}
.icon-bg139 {
  border-radius: var(--br-11xs);
  background-color: var(--white-100);
  display: none;
}
.icon-bg139,
.icons-background139,
.vector-icon157 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vector-icon157 {
  height: 49.5%;
  width: 60%;
  top: 25%;
  right: 20%;
  bottom: 25.5%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check-outline20 {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  width: 24px;
  height: 24px;
  display: none;
}
.vector-icon158 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 9px);
  width: 17.5px;
  height: 13.41px;
}
.icon-bg141,
.right-check20 {
  position: absolute;
  right: 0;
  display: none;
}
.right-check20 {
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
}
.icon-bg141 {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.33px;
  background-color: var(--white-100);
}
.close-5-icon20 {
  position: absolute;
  height: 35%;
  width: 35%;
  top: 32.5%;
  right: 32.5%;
  bottom: 32.5%;
  left: 32.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.deal20 {
  position: absolute;
  right: 195px;
  bottom: 934px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.component-72,
.juice-child1 {
  position: absolute;
  top: 1511px;
  left: 624px;
  width: 191px;
  height: 42px;
}
.juice-child1 {
  height: 1.68%;
  width: 13.26%;
  top: 63.52%;
  right: 43.26%;
  bottom: 34.8%;
  left: 43.47%;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.description18,
.load-more2 {
  position: absolute;
  align-items: center;
  justify-content: center;
}
.load-more2 {
  width: 10.83%;
  top: 64%;
  left: 44.69%;
  font-size: var(--font-size-sm);
  line-height: 18.91px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-raleway);
  color: var(--color-forestgreen-100);
  display: flex;
}
.description18 {
  top: calc(50% - 12px);
  left: calc(50% - 164px);
  letter-spacing: 0.44px;
  line-height: 24px;
  display: none;
  width: 328px;
}
.outlined-bg11 {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1182px);
  top: 1164px;
  right: 590px;
  bottom: 959px;
  left: 592px;
}
.deal21 {
  position: absolute;
  right: 744px;
  bottom: 934px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.card-bg10,
.image-icon9 {
  position: absolute;
  border-radius: var(--br-9xs);
}
.image-icon9 {
  width: calc(100% - 1214px);
  top: 1242px;
  right: 606px;
  left: 608px;
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.card-bg10 {
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px solid var(--white-100);
  box-sizing: border-box;
}
.outlined-bg12 {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1181px);
  top: 1164px;
  right: 974px;
  bottom: 959px;
  left: 207px;
}
.deal22 {
  position: absolute;
  right: 1018px;
  bottom: 934px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.image-icon10 {
  position: absolute;
  width: calc(100% - 1213px);
  top: 1242px;
  right: 990px;
  left: 223px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.deal23 {
  position: absolute;
  right: 195px;
  bottom: 1430px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.image-icon11 {
  position: absolute;
  width: calc(100% - 1214px);
  top: 779px;
  right: 212px;
  left: 1002px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.card-bg11,
.card-bg12 {
  position: absolute;
  background-color: var(--white-100);
}
.card-bg11 {
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--white-100);
  box-sizing: border-box;
}
.card-bg12 {
  height: 100%;
  width: calc(100% - 1px);
  top: 0;
  right: 1px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 20px 4px rgba(92, 107, 192, 0.05);
}
.outlined-bg13 {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1181px);
  top: 1164px;
  right: 195px;
  bottom: 959px;
  left: 986px;
  border-radius: 69px;
}
.deal24 {
  position: absolute;
  right: 469px;
  bottom: 1430px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.image-icon12 {
  position: absolute;
  width: calc(100% - 1213px);
  top: 1242px;
  right: 211px;
  left: 1002px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.outlined-bg-onhover1 {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1182px);
  top: 701px;
  right: 590px;
  bottom: 1422px;
  left: 592px;
}
.deal25 {
  position: absolute;
  right: 744px;
  bottom: 1430px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.image-icon13 {
  position: absolute;
  width: calc(100% - 1214px);
  top: 779px;
  right: 606px;
  left: 608px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.vector-icon169 {
  position: absolute;
  top: 542.35px;
  left: 0;
  width: 47.77px;
  height: 75.18px;
}
.deal26 {
  position: absolute;
  right: 1018px;
  bottom: 1430px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.image-icon14 {
  position: absolute;
  width: calc(100% - 1213px);
  top: 779px;
  right: 1007px;
  left: 206px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.outlined-bg14 {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1182px);
  top: 223px;
  right: 196px;
  bottom: 1900px;
  left: 986px;
}
.buttonbg15,
.caption48 {
  position: absolute;
  display: none;
}
.buttonbg15 {
  border-radius: var(--br-9xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  width: 105px;
  height: 32px;
}
.caption48 {
  letter-spacing: 0.02em;
  line-height: 143%;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 24px;
}
.buttonbg-parent13 {
  position: absolute;
  top: 62.16%;
  left: 0;
  width: 0;
  height: 0;
  text-align: center;
  color: var(--color-forestgreen-100);
}
.icon-bg160 {
  position: absolute;
  height: calc(100% + 0.05px);
  width: calc(100% + 0.05px);
  top: 0;
  right: -0.05px;
  bottom: -0.05px;
  left: 0;
  border-radius: 1.11px;
  background-color: var(--white-100);
  display: none;
}
.vector-icon172 {
  position: absolute;
  top: calc(50% - 4.98px);
  left: calc(50% - 5.53px);
  width: 11.07px;
  height: 10.32px;
}
.star60,
.star61,
.star62,
.star63 {
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  width: 16px;
  height: 16px;
}
.star61,
.star62,
.star63 {
  left: 14px;
}
.star62,
.star63 {
  left: 28px;
}
.star63 {
  left: 42px;
}
.vector-icon176 {
  position: absolute;
  top: calc(50% - 5.53px);
  left: calc(50% - 5.53px);
  width: 11.07px;
  height: 11.07px;
}
.star-half15 {
  position: absolute;
  top: calc(50% - 8px);
  left: 56px;
  width: 16px;
  height: 16px;
}
.div17 {
  position: absolute;
  top: 15.63%;
  left: 80px;
  letter-spacing: 0.1px;
  line-height: 22px;
  font-weight: 500;
}
.rating-stars-4515 {
  position: absolute;
  height: 28.83%;
  width: 53.74%;
  top: 113.51%;
  right: 46.26%;
  bottom: -42.34%;
  left: 0;
  display: none;
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.more15 {
  font-weight: 500;
  color: var(--color-blue);
}
.additional-txt15 {
  line-break: anywhere;
  width: 100%;
}
.additional21 {
  top: 66.67%;
  letter-spacing: 0.03em;
  display: none;
  align-items: center;
  color: var(--color-slategray);
  font-family: var(--font-raleway);
}
.additional21,
.desc15,
.price15 {
  position: absolute;
  width: 100%;
  left: 0;
  line-height: 150%;
}
.price15 {
  height: 18.92%;
  top: 34.23%;
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
}
.desc15 {
  height: 25.23%;
  top: 0;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.03em;
  font-weight: 500;
  display: inline-block;
}
.group-parent13 {
  position: absolute;
  top: 523px;
  left: 1015px;
  width: 227px;
  height: 111px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-ubuntu);
}
.image-icon15 {
  position: absolute;
  width: calc(100% - 1214px);
  top: 301px;
  right: 212px;
  left: 1002px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.group-parent14 {
  position: absolute;
  top: 295px;
  left: 32px;
  width: 227px;
  height: 111px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-ubuntu);
}
.outlined-bg15 {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1181px);
  top: 223px;
  right: 590px;
  bottom: 1900px;
  left: 591px;
}
.deal27 {
  position: absolute;
  right: 469px;
  bottom: 1918px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.image-icon16 {
  position: absolute;
  width: calc(100% - 1213px);
  top: 301px;
  right: 606px;
  left: 607px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.group-parent15 {
  position: absolute;
  top: 300px;
  left: 16px;
  width: 227px;
  height: 111px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-ubuntu);
}
.outlined-bg16 {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1182px);
  top: 223px;
  right: 992px;
  bottom: 1900px;
  left: 190px;
}
.deal28 {
  position: absolute;
  right: 744px;
  bottom: 1918px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.image-icon17 {
  position: absolute;
  width: calc(100% - 1214px);
  top: 301px;
  right: 1008px;
  left: 206px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.deal29 {
  position: absolute;
  right: 1018px;
  bottom: 1918px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.right-icon2 {
  position: absolute;
  top: calc(50% - 650.5px);
  right: 1067px;
  width: 0;
  height: 0;
}
.buttonbg18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
}
.caption54 {
  position: absolute;
  height: 75%;
  width: 80.95%;
  top: 12.5%;
  left: 9.52%;
  letter-spacing: 0.02em;
  line-height: 143%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonbg-parent16 {
  position: absolute;
  height: 28.83%;
  width: 46.26%;
  top: 62.16%;
  right: 53.74%;
  bottom: 9.01%;
  left: 0;
  display: none;
  text-align: center;
  color: var(--color-forestgreen-100);
}
.group-parent16,
.group-parent17,
.group-parent18,
.group-parent19,
.group-parent20,
.group-parent21 {
  position: absolute;
  top: 1006px;
  left: 1002px;
  width: 227px;
  height: 111px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-ubuntu);
}
.group-parent17,
.group-parent18,
.group-parent19,
.group-parent20,
.group-parent21 {
  top: 1459px;
  left: 1005px;
}
.group-parent18,
.group-parent19,
.group-parent20,
.group-parent21 {
  top: 1005px;
  left: 613px;
}
.group-parent19,
.group-parent20,
.group-parent21 {
  top: 1001px;
  left: 205px;
}
.group-parent20,
.group-parent21 {
  top: 1471px;
  left: 608px;
}
.group-parent21 {
  top: 1478px;
  left: 226px;
}
.vector-icon223 {
  position: absolute;
  top: 910.93px;
  left: 1348.85px;
  width: 91.15px;
  height: 115.44px;
}
.card-bg13,
.vector-icon224 {
  position: absolute;
  top: 2200.55px;
  left: 0;
  width: 90.77px;
  height: 106.96px;
}
.card-bg13 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--white-100);
}
.description25 {
  position: absolute;
  top: calc(50% - 41px);
  left: calc(50% - 163.5px);
  letter-spacing: 0.44px;
  line-height: 24px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 328px;
}
.vector-icon225,
.vector-icon226 {
  position: absolute;
  top: 17.61px;
  left: 322.64px;
  width: 19.14px;
  height: 20.15px;
}
.vector-icon226 {
  top: 189.59px;
  left: 184.4px;
  width: 13.18px;
  height: 13.88px;
}
.icon-bg214,
.vector-icon227 {
  position: absolute;
  top: 26.6px;
  left: 11.57px;
  width: 17.05px;
  height: 15.08px;
}
.icon-bg214 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xs-5);
  background-color: var(--white-100);
  display: none;
}
.vector-icon228 {
  position: absolute;
  height: 52.51%;
  width: 52.51%;
  top: 22.5%;
  right: 24.99%;
  bottom: 24.99%;
  left: 22.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.auto-fix2 {
  position: absolute;
  top: calc(50% - 92px);
  left: calc(50% - 49.5px);
  width: 100px;
  height: 100px;
}
.smooth-bg6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: var(--font-roboto);
}
.additional30,
.caption60 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.additional30 {
  width: calc(100% - 90px);
  bottom: 40px;
  left: 45px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 143%;
  color: var(--color-slategray);
  height: 38px;
}
.caption60 {
  height: 18.4%;
  width: calc(100% - 32px);
  top: 41.74%;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.01em;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-gray-100);
}
.outlined4 {
  position: absolute;
  width: calc(100% - 1079px);
  top: 1750px;
  right: 541px;
  left: 538px;
  height: 230px;
  font-family: var(--font-ubuntu);
}
.icon-bg215 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2.65px;
  background-color: var(--white-100);
  display: none;
}
.vector-icon232 {
  position: absolute;
  height: 45%;
  width: 45%;
  top: 27.5%;
  right: 27.5%;
  bottom: 27.5%;
  left: 27.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.palette2 {
  position: absolute;
  top: calc(50% - 106px);
  left: calc(50% - 52.5px);
  width: 106px;
  height: 106px;
}
.outlined5 {
  position: absolute;
  width: calc(100% - 1079px);
  top: 1750px;
  right: 141px;
  left: 938px;
  height: 230px;
  font-family: var(--font-ubuntu);
}
.additional32,
.caption62 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.additional32 {
  width: calc(100% - 90px);
  bottom: 25px;
  left: 45px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 143%;
  color: var(--color-slategray);
  height: 38px;
}
.caption62 {
  height: 18.4%;
  width: calc(100% - 32px);
  top: 52.61%;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.01em;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-gray-100);
}
.lightbulb-on-outline-icon2 {
  position: absolute;
  top: calc(50% - 91px);
  left: calc(50% - 166.84px);
  width: 284.86px;
  height: 193.39px;
}
.smooth-bg-container {
  position: absolute;
  height: calc(100% - 2273px);
  width: calc(100% - 1079px);
  top: 1750px;
  right: 941px;
  bottom: 523px;
  left: 138px;
  font-family: var(--font-ubuntu);
}
.flaours-status-22 {
  position: absolute;
  top: 0;
  left: 155px;
  width: 101px;
  height: 112px;
  object-fit: cover;
}
.about-us2,
.faqs2,
.home2,
.product2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 59px;
}
.about-us2,
.faqs2,
.product2 {
  top: 44px;
  width: 65px;
}
.about-us2,
.faqs2 {
  top: 88px;
  width: 74px;
}
.faqs2 {
  top: 132px;
}
.div26,
.helpflavourstatuscom2,
.home-parent {
  position: absolute;
  top: 2252px;
  left: 537px;
  width: 74px;
  height: 156px;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.div26,
.helpflavourstatuscom2 {
  top: 2265px;
  left: 1015px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 230px;
  height: 22px;
}
.div26 {
  top: 2309px;
  left: 1016px;
  width: 113px;
  height: 26px;
}
.cash-on-delivery2,
.online-transaction2 {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 136px;
}
.online-transaction2 {
  width: 146px;
}
.cash-on-delivery-container {
  position: absolute;
  top: 2264px;
  left: 726px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.flavour-status2,
.overview2,
.pay2,
.payment2 {
  position: absolute;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
}
.pay2 {
  top: 2338px;
  left: 751px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  width: 38px;
  height: 28px;
}
.flavour-status2,
.overview2,
.payment2 {
  top: 2206px;
  left: 515px;
  font-size: var(--font-size-5xl);
  width: 118px;
}
.flavour-status2,
.payment2 {
  left: 735px;
  width: 114px;
}
.flavour-status2 {
  top: 2200px;
  left: 970px;
  font-size: var(--font-size-13xl);
  width: 232px;
}
.juice-child2,
.juice-child3,
.juice-child4,
.vector-icon236 {
  position: absolute;
  height: 0.94%;
  width: 1.77%;
  top: 93.29%;
  right: 47.81%;
  bottom: 5.77%;
  left: 50.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.juice-child3,
.juice-child4,
.vector-icon236 {
  height: 0.58%;
  width: 3.47%;
  top: 93.65%;
  right: 40.07%;
  bottom: 5.78%;
  left: 56.46%;
}
.juice-child3,
.juice-child4 {
  height: 1.12%;
  width: 2.15%;
  top: 92.01%;
  right: 30.28%;
  bottom: 6.87%;
  left: 67.57%;
}
.juice-child4 {
  height: 0.83%;
  width: 2.08%;
  top: 90.33%;
  right: 30.35%;
  bottom: 8.84%;
}
.juice-child5 {
  position: absolute;
  top: 2275.5px;
  left: 123.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 268px;
  height: 1px;
}
.follow-us-on2 {
  position: absolute;
  top: 2298px;
  left: 206px;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 103px;
}
.vector-icon237 {
  position: absolute;
  height: 1.73%;
  width: 3.33%;
  top: 88.61%;
  right: 87.36%;
  bottom: 9.65%;
  left: 9.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon3,
.vector-icon238,
.vector-icon239,
.vector-icon240,
.vector-icon241,
.vector-icon242 {
  position: absolute;
  height: 1.41%;
  width: 1.46%;
  top: 88.94%;
  right: 88.26%;
  bottom: 9.65%;
  left: 10.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon3,
.vector-icon239,
.vector-icon240,
.vector-icon241,
.vector-icon242 {
  height: 1.73%;
  width: 3.26%;
  top: 88.61%;
  right: 80.49%;
  left: 16.25%;
}
.vector-icon239,
.vector-icon240,
.vector-icon241,
.vector-icon242 {
  height: 0.79%;
  width: 1.6%;
  top: 89.34%;
  right: 73.61%;
  bottom: 9.87%;
  left: 24.79%;
}
.vector-icon240,
.vector-icon241,
.vector-icon242 {
  height: 0.69%;
  width: 2.57%;
  top: 89.66%;
  right: 74.1%;
  bottom: 9.65%;
  left: 23.33%;
}
.vector-icon241,
.vector-icon242 {
  height: 0.79%;
  width: 0.69%;
  top: 89.08%;
  right: 76.18%;
  bottom: 10.12%;
  left: 23.13%;
}
.vector-icon242 {
  height: 0.69%;
  width: 2.57%;
  top: 88.61%;
  right: 74.1%;
  bottom: 10.7%;
  left: 23.33%;
}
.juice,
.juice-parent {
  background-color: var(--white-100);
  overflow: hidden;
}
.juice {
  position: absolute;
  top: 127px;
  left: 117px;
  width: 1440px;
  height: 2503px;
}
.juice-parent {
  position: relative;
  width: 100%;
  height: 2769px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--gray-60);
  font-family: var(--font-roboto);
}
