.fastfood-child,
.fastfood-item {
  position: absolute;
  top: 96px;
  left: 0;
  background-color: var(--color-honeydew-200);
  width: 1442px;
  height: 1556px;
}
.fastfood-item {
  top: 1653px;
  left: -2px;
  background-color: var(--color-honeydew-100);
  width: 1441px;
  height: 435px;
}
.fastfood-inner,
.group-child {
  position: absolute;
  top: -1px;
  left: 0;
  background-color: var(--color-limegreen);
  width: 1440px;
  height: 97px;
}
.group-child {
  top: 0;
  border-radius: var(--br-11xl);
  background-color: var(--white-100);
  width: 840px;
  height: 50px;
}
.search-everything-juice {
  position: absolute;
  top: 18px;
  left: 32px;
  line-height: 18.91px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 167px;
  height: 13px;
}
.iconoutlinesearch {
  position: absolute;
  height: 40%;
  width: 2.38%;
  top: 30%;
  right: 3.81%;
  bottom: 30%;
  left: 93.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent {
  position: absolute;
  top: 22px;
  left: 338px;
  width: 840px;
  height: 50px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-lightgray);
  font-family: var(--font-ubuntu);
}
.chip-bg,
.left-elevation {
  position: absolute;
  left: 0;
  border-radius: var(--br-9xs);
}
.chip-bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--green-5);
}
.left-elevation {
  top: calc(50% - 12px);
  background-color: var(--white-100);
  box-shadow: var(--shadow-dark-2dp);
  width: 24px;
  height: 24px;
  display: none;
}
.caption,
.counter {
  position: absolute;
  letter-spacing: 0.4px;
  line-height: 16px;
}
.counter {
  top: calc(50% - 8px);
  left: 4px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.caption {
  top: 4px;
  left: 10px;
  color: var(--green-70);
}
.icon-bg {
  border-radius: var(--br-11xs);
  background-color: var(--white-100);
  display: none;
}
.icon-bg,
.icons-background,
.vector-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vector-icon {
  height: 49.5%;
  width: 60%;
  top: 25%;
  right: 20%;
  bottom: 25.5%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check-outline {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  width: 24px;
  height: 24px;
  display: none;
}
.vector-icon1 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 9px);
  width: 17.5px;
  height: 13.41px;
}
.icon-bg2,
.right-check {
  position: absolute;
  right: 0;
  display: none;
}
.right-check {
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
}
.icon-bg2 {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.33px;
  background-color: var(--white-100);
}
.close-5-icon {
  position: absolute;
  height: 35%;
  width: 35%;
  top: 32.5%;
  right: 32.5%;
  bottom: 32.5%;
  left: 32.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.deal {
  position: absolute;
  right: 195px;
  bottom: 934px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.component-7,
.rectangle-div {
  position: absolute;
  top: 1511px;
  left: 624px;
  width: 191px;
  height: 42px;
}
.rectangle-div {
  height: 1.68%;
  width: 13.26%;
  top: 62.05%;
  right: 43.4%;
  bottom: 36.28%;
  left: 43.33%;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.load-more {
  position: absolute;
  width: 10.83%;
  top: 62.52%;
  left: 44.55%;
  font-size: var(--font-size-sm);
  line-height: 18.91px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-raleway);
  color: var(--color-forestgreen-100);
  display: flex;
  align-items: center;
  justify-content: center;
}
.deal1,
.deal2 {
  bottom: 934px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.deal1 {
  position: absolute;
  right: 744px;
}
.deal2 {
  right: 1018px;
}
.card-bg,
.deal2,
.deal3 {
  position: absolute;
}
.deal3 {
  right: 195px;
  bottom: 1430px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.card-bg {
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--white-100);
  border: 1px solid var(--white-100);
  box-sizing: border-box;
}
.description {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 163.5px);
  letter-spacing: 0.44px;
  line-height: 24px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 328px;
}
.card-bg1 {
  position: absolute;
  height: 100%;
  width: calc(100% - 1px);
  top: 0;
  right: 1px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--white-100);
  box-shadow: var(--shadow-indigo-4dp);
}
.outlined-bg {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1181px);
  top: 698px;
  right: 586px;
  bottom: 1425px;
  left: 595px;
  color: var(--gray-60);
}
.deal4 {
  position: absolute;
  right: 469px;
  bottom: 1430px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.image-icon {
  position: absolute;
  width: calc(100% - 1213px);
  top: 776px;
  right: 602px;
  left: 611px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.deal5 {
  position: absolute;
  right: 744px;
  bottom: 1430px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.unsplashmactxz4-qh8-icon {
  position: absolute;
  top: calc(50% - 112px);
  left: 16px;
  width: 227px;
  height: 224px;
  object-fit: cover;
}
.outlined-bg1 {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1181px);
  top: 707px;
  right: 940px;
  bottom: 1416px;
  left: 241px;
  color: var(--gray-60);
}
.vector-icon12 {
  position: absolute;
  top: 542.35px;
  left: 0;
  width: 47.77px;
  height: 75.18px;
}
.deal6 {
  position: absolute;
  right: 1018px;
  bottom: 1430px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.description2 {
  top: calc(50% - 12px);
  left: calc(50% - 164px);
  letter-spacing: 0.44px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  width: 328px;
}
.buttonbg,
.caption7,
.description2 {
  position: absolute;
  display: none;
}
.buttonbg {
  border-radius: var(--br-9xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  width: 105px;
  height: 32px;
}
.caption7 {
  letter-spacing: 0.02em;
  line-height: 143%;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 24px;
}
.buttonbg-parent {
  position: absolute;
  top: 62.16%;
  left: 0;
  width: 0;
  height: 0;
  text-align: center;
  color: var(--color-forestgreen-100);
}
.icon-bg21 {
  position: absolute;
  height: calc(100% + 0.05px);
  width: calc(100% + 0.05px);
  top: 0;
  right: -0.05px;
  bottom: -0.05px;
  left: 0;
  border-radius: 1.11px;
  background-color: var(--white-100);
  display: none;
}
.vector-icon15 {
  position: absolute;
  top: calc(50% - 4.98px);
  left: calc(50% - 5.53px);
  width: 11.07px;
  height: 10.32px;
}
.star,
.star1,
.star2,
.star3 {
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  width: 16px;
  height: 16px;
}
.star1,
.star2,
.star3 {
  left: 14px;
}
.star2,
.star3 {
  left: 28px;
}
.star3 {
  left: 42px;
}
.vector-icon19 {
  top: calc(50% - 5.53px);
  left: calc(50% - 5.53px);
  width: 11.07px;
  height: 11.07px;
}
.div,
.star-half,
.vector-icon19 {
  position: absolute;
}
.star-half {
  top: calc(50% - 8px);
  left: 56px;
  width: 16px;
  height: 16px;
}
.div {
  top: 15.63%;
  left: 80px;
  letter-spacing: 0.1px;
  line-height: 22px;
  font-weight: 500;
}
.rating-stars-45 {
  position: absolute;
  height: 28.83%;
  width: 53.74%;
  top: 113.51%;
  right: 46.26%;
  bottom: -42.34%;
  left: 0;
  display: none;
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
.more {
  font-weight: 500;
  color: var(--color-blue);
}
.additional-txt {
  line-break: anywhere;
  width: 100%;
}
.additional {
  top: 66.67%;
  letter-spacing: 0.03em;
  display: none;
  align-items: center;
  color: var(--color-slategray);
  font-family: var(--font-raleway);
}
.additional,
.desc,
.price {
  position: absolute;
  width: 100%;
  left: 0;
  line-height: 150%;
}
.price {
  height: 18.92%;
  top: 34.23%;
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
}
.desc {
  height: 25.23%;
  top: 0;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.03em;
  font-weight: 500;
  display: inline-block;
}
.group-parent {
  position: absolute;
  top: 305px;
  left: 23px;
  width: 227px;
  height: 111px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-ubuntu);
}
.outlined-bg2 {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1182px);
  top: 251px;
  right: 253px;
  bottom: 1872px;
  left: 929px;
  color: var(--gray-60);
}
.image-icon1 {
  position: absolute;
  width: calc(100% - 1214px);
  top: 317px;
  right: 269px;
  left: 945px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.group-container {
  position: absolute;
  top: 306px;
  left: 25px;
  width: 227px;
  height: 111px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-ubuntu);
}
.outlined-bg3 {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1181px);
  top: 251px;
  right: 592px;
  bottom: 1872px;
  left: 589px;
  color: var(--gray-60);
}
.deal7 {
  position: absolute;
  right: 469px;
  bottom: 1918px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.image-icon2 {
  position: absolute;
  width: calc(100% - 1213px);
  top: 317px;
  right: 608px;
  left: 605px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.group-div {
  position: absolute;
  top: 307px;
  left: 23px;
  width: 227px;
  height: 111px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-ubuntu);
}
.outlined-bg4 {
  position: absolute;
  height: calc(100% - 2123px);
  width: calc(100% - 1182px);
  top: 251px;
  right: 941px;
  bottom: 1872px;
  left: 241px;
  color: var(--gray-60);
}
.deal8 {
  position: absolute;
  right: 744px;
  bottom: 1918px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.image-icon3 {
  position: absolute;
  width: calc(100% - 1214px);
  top: 317px;
  right: 957px;
  left: 257px;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 224px;
  object-fit: cover;
}
.deal9 {
  position: absolute;
  right: 1018px;
  bottom: 1918px;
  width: 70px;
  height: 24px;
  display: none;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.right-icon {
  position: absolute;
  top: calc(50% - 650.5px);
  right: 1067px;
  width: 0;
  height: 0;
}
.buttonbg3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
}
.caption13 {
  position: absolute;
  height: 75%;
  width: 80.95%;
  top: 12.5%;
  left: 9.52%;
  letter-spacing: 0.02em;
  line-height: 143%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonbg-parent1 {
  position: absolute;
  height: 28.83%;
  width: 46.26%;
  top: 62.16%;
  right: 53.74%;
  bottom: 9.01%;
  left: 0;
  display: none;
  text-align: center;
  color: var(--color-forestgreen-100);
}
.star-half3,
.star12,
.star13,
.star14,
.star15 {
  position: absolute;
  top: calc(50% - 7.84px);
  left: 0;
  width: 16px;
  height: 16px;
}
.star-half3,
.star13,
.star14,
.star15 {
  left: 14px;
}
.star-half3,
.star14,
.star15 {
  left: 28px;
}
.star-half3,
.star15 {
  left: 42px;
}
.star-half3 {
  left: 56px;
}
.div3 {
  position: absolute;
  top: 8.4%;
  left: 80px;
  letter-spacing: 0.1px;
  line-height: 22px;
  font-weight: 500;
}
.additional3 {
  top: 63.54%;
  letter-spacing: 0.03em;
  align-items: center;
  color: var(--color-slategray);
  font-family: var(--font-raleway);
}
.additional3,
.desc3,
.price3 {
  position: absolute;
  width: 100%;
  left: 0;
  line-height: 150%;
  display: none;
}
.price3 {
  height: 18.92%;
  top: 34.23%;
  font-size: var(--font-size-lg);
  align-items: center;
}
.desc3 {
  height: 25.23%;
  top: 0;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.03em;
  font-weight: 500;
}
.group-parent1,
.group-parent2 {
  position: absolute;
  top: 1450px;
  left: 613px;
  width: 227px;
  height: 96px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-ubuntu);
}
.group-parent2 {
  top: 1013px;
  left: 618px;
  height: 111px;
}
.buttonbg5,
.caption15 {
  position: absolute;
  display: none;
}
.buttonbg5 {
  border-radius: var(--br-9xs);
  background-color: var(--white-100);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  width: 105px;
  height: 29.12px;
}
.caption15 {
  letter-spacing: 0.02em;
  line-height: 143%;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 21.84px;
}
.star-half5,
.star20,
.star21,
.star22,
.star23 {
  position: absolute;
  top: calc(50% - 7.56px);
  left: 0;
  width: 16px;
  height: 16px;
}
.star-half5,
.star21,
.star22,
.star23 {
  left: 14px;
}
.star-half5,
.star22,
.star23 {
  left: 28px;
}
.star-half5,
.star23 {
  left: 42px;
}
.star-half5 {
  left: 56px;
}
.div5 {
  position: absolute;
  top: 12.19%;
  left: 80px;
  letter-spacing: 0.1px;
  line-height: 22px;
  font-weight: 500;
}
.additional5 {
  position: absolute;
  width: 100%;
  top: 64.69%;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 150%;
  display: none;
  align-items: center;
  color: var(--color-slategray);
  font-family: var(--font-raleway);
}
.group-parent3,
.group-parent4 {
  position: absolute;
  top: 1018px;
  left: 265px;
  width: 227px;
  height: 101px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-ubuntu);
}
.group-parent4 {
  top: 1438px;
  height: 111px;
}
.vector-icon56 {
  position: absolute;
  top: 910.93px;
  left: 1348.85px;
  width: 91.15px;
  height: 115.44px;
}
.card-bg2,
.vector-icon57 {
  position: absolute;
  top: 2200.55px;
  left: 0;
  width: 90.77px;
  height: 106.96px;
}
.card-bg2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--white-100);
}
.description5 {
  position: absolute;
  top: calc(50% - 41px);
  left: calc(50% - 163.5px);
  letter-spacing: 0.44px;
  line-height: 24px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 328px;
}
.vector-icon58,
.vector-icon59 {
  position: absolute;
  top: 17.61px;
  left: 322.64px;
  width: 19.14px;
  height: 20.15px;
}
.vector-icon59 {
  top: 189.59px;
  left: 184.4px;
  width: 13.18px;
  height: 13.88px;
}
.icon-bg65,
.vector-icon60 {
  position: absolute;
  top: 26.6px;
  left: 11.57px;
  width: 17.05px;
  height: 15.08px;
}
.icon-bg65 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xs-5);
  background-color: var(--white-100);
  display: none;
}
.vector-icon61 {
  position: absolute;
  height: 52.51%;
  width: 52.51%;
  top: 22.5%;
  right: 24.99%;
  bottom: 24.99%;
  left: 22.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.auto-fix {
  position: absolute;
  top: calc(50% - 92px);
  left: calc(50% - 49.5px);
  width: 100px;
  height: 100px;
}
.smooth-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: var(--font-roboto);
}
.additional7,
.caption17 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.additional7 {
  width: calc(100% - 90px);
  bottom: 40px;
  left: 45px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 143%;
  color: var(--color-slategray);
  height: 38px;
}
.caption17 {
  height: 18.4%;
  width: calc(100% - 32px);
  top: 41.74%;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.01em;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-gray-100);
}
.outlined {
  position: absolute;
  width: calc(100% - 1079px);
  top: 1750px;
  right: 541px;
  left: 538px;
  height: 230px;
  color: var(--gray-60);
  font-family: var(--font-ubuntu);
}
.icon-bg66 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2.65px;
  background-color: var(--white-100);
  display: none;
}
.vector-icon65 {
  position: absolute;
  height: 45%;
  width: 45%;
  top: 27.5%;
  right: 27.5%;
  bottom: 27.5%;
  left: 27.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.palette {
  position: absolute;
  top: calc(50% - 106px);
  left: calc(50% - 52.5px);
  width: 106px;
  height: 106px;
}
.outlined1 {
  position: absolute;
  width: calc(100% - 1079px);
  top: 1750px;
  right: 141px;
  left: 938px;
  height: 230px;
  color: var(--gray-60);
  font-family: var(--font-ubuntu);
}
.additional9,
.caption19 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.additional9 {
  width: calc(100% - 90px);
  bottom: 25px;
  left: 45px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 143%;
  color: var(--color-slategray);
  height: 38px;
}
.caption19 {
  height: 18.4%;
  width: calc(100% - 32px);
  top: 52.61%;
  left: 16px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.01em;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-gray-100);
}
.lightbulb-on-outline-icon {
  position: absolute;
  top: calc(50% - 91px);
  left: calc(50% - 166.84px);
  width: 284.86px;
  height: 193.39px;
}
.smooth-bg-parent {
  position: absolute;
  height: calc(100% - 2273px);
  width: calc(100% - 1079px);
  top: 1750px;
  right: 941px;
  bottom: 523px;
  left: 138px;
  color: var(--gray-60);
  font-family: var(--font-ubuntu);
}
.flaours-status-2 {
  position: absolute;
  top: 0;
  left: 140px;
  width: 101px;
  height: 112px;
  object-fit: cover;
}
.home {
  position: absolute;
  top: 2252px;
  font-family: var(--font-poppins);
  text-align: left;
  width: 59px;
}
.about-us,
.home,
.product {
  left: 536px;
  display: flex;
  align-items: center;
}
.product {
  position: absolute;
  top: 2296px;
  font-family: var(--font-poppins);
  text-align: left;
  width: 65px;
}
.about-us {
  top: 2340px;
  width: 74px;
}
.about-us,
.faqs,
.helpflavourstatuscom {
  position: absolute;
  font-family: var(--font-poppins);
  text-align: left;
}
.faqs {
  top: 2384px;
  left: 536px;
  display: flex;
  align-items: center;
  width: 74px;
}
.helpflavourstatuscom {
  top: 2265px;
  left: 1014px;
  font-size: var(--font-size-lg);
  width: 230px;
  height: 22px;
}
.cash-on-delivery,
.div7,
.helpflavourstatuscom,
.online-transaction {
  font-weight: 500;
  display: flex;
  align-items: center;
}
.div7 {
  position: absolute;
  top: 2309px;
  left: 1015px;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  text-align: left;
  width: 113px;
  height: 26px;
}
.cash-on-delivery,
.online-transaction {
  position: relative;
  width: 136px;
}
.online-transaction {
  width: 146px;
}
.cash-on-delivery-parent {
  position: absolute;
  top: 2264px;
  left: 725px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-family: var(--font-inter);
}
.flavour-status,
.overview,
.pay,
.payment {
  position: absolute;
  font-family: var(--font-poppins);
  text-align: left;
  display: flex;
  align-items: center;
}
.pay {
  top: 2338px;
  left: 750px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  width: 38px;
  height: 28px;
}
.flavour-status,
.overview,
.payment {
  top: 2206px;
  left: 514px;
  font-size: var(--font-size-5xl);
  width: 118px;
}
.flavour-status,
.payment {
  left: 734px;
  width: 114px;
}
.flavour-status {
  top: 2200px;
  left: 969px;
  font-size: var(--font-size-13xl);
  width: 257px;
}
.fastfood-child1,
.fastfood-child2,
.group-icon,
.vector-icon69 {
  position: absolute;
  height: 0.94%;
  width: 1.77%;
  top: 93.29%;
  right: 47.88%;
  bottom: 5.77%;
  left: 50.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fastfood-child1,
.fastfood-child2,
.vector-icon69 {
  height: 0.58%;
  width: 3.47%;
  top: 93.65%;
  right: 40.14%;
  bottom: 5.78%;
  left: 56.39%;
}
.fastfood-child1,
.fastfood-child2 {
  height: 1.12%;
  width: 2.15%;
  top: 92.01%;
  right: 30.35%;
  bottom: 6.87%;
  left: 67.5%;
}
.fastfood-child2 {
  height: 0.83%;
  width: 2.08%;
  top: 90.33%;
  right: 30.42%;
  bottom: 8.84%;
}
.line-div {
  position: absolute;
  top: 2275.5px;
  left: 122.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 268px;
  height: 1px;
}
.follow-us-on {
  position: absolute;
  top: 2298px;
  left: 205px;
  font-family: var(--font-poppins);
  text-align: left;
  display: flex;
  align-items: center;
  width: 103px;
}
.vector-icon70 {
  position: absolute;
  height: 1.73%;
  width: 3.33%;
  top: 88.61%;
  right: 87.43%;
  bottom: 9.65%;
  left: 9.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1,
.vector-icon71,
.vector-icon72,
.vector-icon73,
.vector-icon74,
.vector-icon75 {
  position: absolute;
  height: 1.41%;
  width: 1.46%;
  top: 88.94%;
  right: 88.33%;
  bottom: 9.65%;
  left: 10.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1,
.vector-icon72,
.vector-icon73,
.vector-icon74,
.vector-icon75 {
  height: 1.73%;
  width: 3.26%;
  top: 88.61%;
  right: 80.56%;
  left: 16.18%;
}
.vector-icon72,
.vector-icon73,
.vector-icon74,
.vector-icon75 {
  height: 0.79%;
  width: 1.6%;
  top: 89.34%;
  right: 73.68%;
  bottom: 9.87%;
  left: 24.72%;
}
.vector-icon73,
.vector-icon74,
.vector-icon75 {
  height: 0.69%;
  width: 2.57%;
  top: 89.66%;
  right: 74.17%;
  bottom: 9.65%;
  left: 23.26%;
}
.vector-icon74,
.vector-icon75 {
  height: 0.79%;
  width: 0.69%;
  top: 89.08%;
  right: 76.25%;
  bottom: 10.12%;
  left: 23.06%;
}
.vector-icon75 {
  height: 0.69%;
  width: 2.57%;
  top: 88.61%;
  right: 74.17%;
  bottom: 10.7%;
  left: 23.26%;
}
.fastfood,
.fastfood-parent {
  background-color: var(--white-100);
  overflow: hidden;
}
.fastfood {
  position: absolute;
  top: 133px;
  left: 112px;
  width: 1440px;
  height: 2503px;
}
.fastfood-parent {
  position: relative;
  width: 100%;
  height: 2769px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
